.hero {
    background-image: linear-gradient(90deg, #222, #222);
    height: max-content;
}

.about-hero-content {
    padding: 36px;
    padding-top: 16px;
    box-sizing: border-box;
}

.hero-left-content {
    width: 100%;
    height: max-content;
    color: #fff;
    padding: 36px;
    box-sizing: border-box;
}

.hero-left-content h2 {
    margin-bottom: 56px;
}

.hero-left-content p {
    margin-bottom: 76px;
}

.hero-left-content a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    padding: 12px 32px;
    font-weight: 600;
    border-radius: 4px;
}

.hero-right-content {
    padding: 24px;
    box-sizing: border-box;
}

.hero-right-content img {
    width: 50%;
    margin: auto;
    display: block;
}

.about-us-text {
    background-color: rgb(225, 225, 225);
    text-align: center;
    padding: 56px 48px;
    box-sizing: border-box;
}

.about-us-text h2 {
    margin-bottom: 36px;
}

.about-us-text p {
    margin-bottom: 30px;
}

.join-the-ex {
    text-align: center;
    width: 100%;
    padding: 56px 48px 72px;
    box-sizing: border-box;
    color: #fff;
    background-image: linear-gradient(90deg,
            rgba(0, 0, 255, 0.9),
            rgba(0, 0, 255, 0.9)),
        url("../images/hero-img.jpg");
    background-position: center center;
    background-size: cover;
}

.line-one {
    font-size: 1.6rem;
}

.line-two {
    margin-bottom: 48px;
}

.bold {
    font-weight: 600;
}

.join-our-member {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    color: rgb(255, 102, 102);
    background-color: rgb(225, 225, 225);
    font-size: 0.8rem;
    transition: background-color 200ms ease-in-out;
}

.join-our-member:hover {
    opacity: 0.9;
}

.our-members {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.our-members .line-two {
    opacity: 0.6;
    margin-bottom: 24px;
}

.our-members .members-card-holder {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 24px;
}

.card {
    width: 200px;
    height: 200px;
    transition: transform 200ms linear;
}

.card-img {
    width: 200px;
    height: 200px;
}

.card-1 .card-img {
    background-image: url("../images/male-1.jpg");
    background-position: center center;
    background-size: contain;
}

.card-2 .card-img {
    background-image: url("../images/female-1.jpg");
    background-position: center top;
    background-size: cover;
}

.card-3 .card-img {
    background-image: url("../images/male-2.jpg");
    background-position: center center;
    background-size: contain;
}

.card-4 .card-img {
    background-image: url("../images/female-2.jpg");
    background-position: center center;
    background-size: cover;
}

.card-5 .card-img {
    background-image: url("../images/male-3.jpg");
    background-position: center center;
    background-size: contain;
}

.card-6 .card-img {
    background-image: url("../images/male-4.jpg");
    background-position: center center;
    background-size: contain;
}

.card-img .overlay-text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.overlay-text,
.overlay-text-2 {
    opacity: 0;
    color: #fff;
    transition: opacity 200ms linear;
}

.overlay:hover {
    background-image: linear-gradient(90deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6));
}

.overlay:hover .overlay-text,
.overlay:hover .overlay-text-2 {
    opacity: 1;
}

.card:hover {
    transform: translateY(-16px);
}

/* Media Queries 1024px and above */

@media (min-width: 1000px) {
    .about-hero-content {
        display: flex;
        align-items: center;
    }

    .hero-right-content img {
        width: 100%;
    }

    .about-us-text {
        text-align: justify;
        padding: 56px 72px;
    }

    .about-us-text h2 {
        text-align: center;
    }
}